@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
